%h2 Welcome to thumbsUp

.blurb
    %p a rideshare platform for students, by students
        
    %p choose your home base and select rides, both to and from school
        
    %p rest assured that other drivers and riders are students just like you
