/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker
 */

h1 {
  color: black;
}

h3 {

}

body {

  color: black;
  font-family: Helvetica;
  display: block;
  margin: 15px;
  background-image: url("Mapp.png");
  background-attachment: fixed;
  background-repeat: round;

}

header {
  background-color: #E6E3E2;
  width: 50%;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

header img {
  height: 70px;
}

.userManage {
  float: right;
  text-decoration: none;
}

footer {
  clear: both;
  position: absolute;
  bottom: 0;
}

.table {
  background-color: #E6E3E2;
}
.search {
  background-color: #E6E3E2;
  border-radius: 20px;
  padding: 20px;
  display: block;
  width: 50%;
}

.block {
  background-color: white;
  font-family: Helvetica;
}
